  <script src="src/app.js"></script>
  <script src="src/components/contactsApp.components.js"></script>
  <script src="src/config/appRoutes.js"></script>
  <script src="src/config/config.js"></script>
  <script src="src/config/sampleData.js"></script>
  <script src="src/editContact/editContactController.js"></script>
  <script src="src/home/homeController.js"></script>
  <script src="src/services/contactsApp.services.js"></script>
  <script src="src/services/providers/contactsProvider.js"></script>
  <script src="src/services/providers/storageProvider.js"></script>
  <script src="src/components/contactList/directives/contactList.js"></script>
