<form class="contact-form container-fluid">
    <div class="form-group row">
        <div class="col-sm-2 col-xs-12"><label for="name_input">name</label></div>
        <div class="col-sm-10 col-xs-12"><input class="form-control" id="name_input" type="text" ng-model="contact.name" ng-disabled="!editContact"></div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2 col-xs-12"><label for="email_input">e-mail</label></div>
        <div class="col-sm-10 col-xs-12"><input class="form-control" id="email_input" type="text" ng-model="contact.email" ng-disabled="!editContact"></div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2 col-xs-12"><label for="job_input">job</label></div>
        <div class="col-sm-10 col-xs-12"><input class="form-control" id="job_input" type="text" ng-model="contact.job" ng-disabled="!editContact"></div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2 col-xs-12"><label for="location_input">location</label></div>
        <div class="col-sm-10 col-xs-12"><input class="form-control" id="location_input" type="text" ng-model="contact.location" ng-disabled="!editContact"></div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2 col-xs-12"><label for="tag_input">tag</label></div>
        <div class="col-sm-10 col-xs-12"><input class="form-control" id="tag_input" type="text" ng-model="contact.tag" ng-disabled="!editContact"></div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2 col-xs-12"><label for="avatar_input">avatar</label></div>
        <div class="col-sm-10 col-xs-12"><input class="form-control" id="avatar_input" type="text" ng-model="contact.avatar" ng-disabled="!editContact"></div>
    </div>
    <div class="form-group row" ng-if="editContact">
        <div class="col-xs-12">
            <button type="submit" ng-click="save()" class="btn btn-primary">Save</button>
            <button type="button" ng-click="cancel()" class="btn btn-warning">Cancel</button>
        </div>
    </div>
</form>